        body {
            font-family: Tahoma, sans-serif;
            text-align: center;
            padding: 20px;
            display: flex;
            justify-content: center; /* Horizontally centre the container */
            margin: 0; /* Remove default body margin */
        }
        
        .container {
            display: flex;             /* Enables flexbox layout */
            flex-direction: column;    /* Stacks child elements vertically */
            align-items: center;       /* Centres child elements horizontally */
            width: 730px;
            border: 1px solid;
            text-align: center;
            margin: 0 auto;            /* Horizontally centre the container itself */
            padding: 20px;
            box-sizing: border-box;    /* Includes padding/borders in dimensions */
        }
        
        h1 {
            font-family: Tahoma, sans-serif;
            font-size: large;
            margin-bottom: 10px;
            padding-bottom: 1px;
        }

        p.subtitle {
            font-family: Tahoma, sans-serif;
            font-size: small;
            margin-top: -10px;
        }

        .process-container-toprow, .process-container-btmrow {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 160px;
            row-gap: 0px;
            position: relative;
        }

        .process-container-midrow {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            height: 35px;
            gap: 80px;
            margin-bottom: 0px;
        }

        .process-step {
            border: 1px solid;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;
            font-size: 16px;
            position: relative;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            cursor: pointer;
        }

        .circle:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .circle-title {
            font-family: Baskerville, sans-serif;
            text-align: center;
            font-size: 12pt;
            font-style: italic;
            font-weight: lighter;
            margin-top: 10px;
        }

        img.icon {
            position: absolute;
            height: 65px;
            width: 65px;
        }

        .update {        
            background-color: #024073;
        }

        .update:hover {
            background-color: #022038;
        }

        .circle.update-reduced:hover {
            transform: scale(.75);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .consult {
            background-color: #F99F36;
        }
        .consult:hover {
            background-color: #925b1b;
        }

        .review {
            background-color: #00C5BB;
        }

        .review:hover {
            background-color: #006b66;
        }

        .refine {
            background-color: #FDC101;
        }

        .refine:hover {
            background-color: #7c5f00;
        }

        .release {
            background-color: #E55046;
        }

        .release:hover {
            background-color: #832f29;
        }

        svg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .arrow {
            stroke: #002341;
            stroke-dasharray: 6, 5;
            stroke-linecap: round;
            stroke-width: 2;
            marker-end: url(#markerArrow);
            marker-start: url(#markerDot)
        }

        .description {
            font-size: 16px;
            margin-top: 20px;
        }

        div {
            border: 0px solid;
        }

        .process-detail-container {
            width: 700px;
            height: 550px;
            border: 3px solid;
            border-radius: 40px;
            display: flex;
            justify-content: center;   /* Centre content horizontally within the div */
            align-items: center;      /* Centre content vertically within the div */
            color: #024073;
            font-weight: bold;
            font-size: 16px;
            position: relative;       /* Ensures absolute positioning for child elements works */
        }

        .circle.update-reduced {
            transform: scale(0.75);
            background-color: #024073;
            margin: 0;              /* Reset margin */
            position: absolute;     /* Use absolute positioning */
            top: -13px;              /* Position from the top of the parent container */
            left: -13px;             /* Position from the left of the parent container */
            cursor:default;
        }

        /* Circle for the top right corner */
        .circle.top-right {
            transform: scale(0.75);
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #024073; 
            position: absolute;
            top: -13px;              /* Position from the top */
            right: -13px;            /* Position from the right */
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .circle.top-right:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .circle.top-right svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .text-content {
            position: absolute;
            top: 0px; /* Position below the circles */
            left: 50%;
            transform: translateX(-50%); /* Centre horizontally */
            text-align: center;
            width: 75%; /* Optional: Adjust width to fit content between circles */
            border: 1px solid;
            font-family: Tahoma, sans-serif;
            text-align: center;
            font-size: 11pt;
            font-weight: lighter;
        }
        
        .link-button {
            font-family: Tahoma, sans-serif;
            text-align: center;
            font-size: 11pt;
            font-weight: lighter;
            width: 450px;
            height: 45px;
            border-radius: 30px;
            border: 3px solid;
            background-color: #6ABFC9;
            text-align: center;
            justify-content: center;
        }
