        body {
            font-family: Tahoma, sans-serif;
            text-align: center;
            padding: 20px;
            display: flex;
            justify-content: center; /* Horizontally centre the container */
            margin: 0; /* Remove default body margin */
        }

        a {
            text-decoration: none;
        }
        
        .container {
            display: flex;             /* Enables flexbox layout */
            flex-direction: column;    /* Stacks child elements vertically */
            align-items: center;       /* Centres child elements horizontally */
            width: 730px;
            min-width: 730px;
            border: 0px solid;
            text-align: center;
            margin: 0 auto;            /* Horizontally centre the container itself */
            padding: 20px;
            box-sizing: border-box;    /* Includes padding/borders in dimensions */
        }
        
        h1 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20pt;
            font-weight: 500;
            margin-bottom: 10px;
            margin-top: -5px;
            padding-bottom: 1px;
            color: black;
        }

        h2 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16pt;
            font-weight: 100;
            margin-bottom: 0px;
            margin-top: 0px;
            padding-bottom: 1px;
            letter-spacing: 1.1px;
            color: black;
        }

        h3 {
            font-family: Tahoma, sans-serif;
            font-size: 12pt;
            font-weight: bold;
            margin-bottom: -7px;
            letter-spacing: 1.1px;
            color: black;
        }

        p {
            font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
            text-align: center;
            font-size: 12pt;
            font-weight: normal;
            color: black;
        }

        p.subtitle {
            
            font-size: small;
            margin-top: -10px;
        }

        .process-container-toprow, .process-container-btmrow {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 160px;
            row-gap: 0px;
            position: relative;
        }

        .process-container-midrow {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            height: 35px;
            gap: 80px;
            margin-bottom: 0px;
        }

        .process-step {
            border: 0px solid;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;
            font-size: 16px;
            position: relative;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            cursor: pointer;
        }

        .circle:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .circle-title {
            font-family: Baskerville, sans-serif;
            text-align: center;
            font-size: 12pt;
            font-style: italic;
            font-weight: lighter;
            margin-top: 10px;
        }

        img.icon {
            position: absolute;
            height: 65px;
            width: 65px;
        }

        .update {        
            background-color: #024073;
        }

        .update:hover {
            background-color: #022038;
        }

        .circle.update-reduced:hover {
            transform: scale(.75);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .consult {
            background-color: #F99F36;
        }
        .consult:hover {
            background-color: #925b1b;
        }

        .review {
            background-color: #00C5BB;
        }

        .review:hover {
            background-color: #006b66;
        }

        .refine {
            background-color: #FDC101;
        }

        .refine:hover {
            background-color: #7c5f00;
        }

        .release {
            background-color: #E55046;
        }

        .release:hover {
            background-color: #832f29;
        }

        svg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .arrow {
            stroke: #002341;
            stroke-dasharray: 6, 5;
            stroke-linecap: round;
            stroke-width: 2;
            marker-end: url(#markerArrow);
            marker-start: url(#markerDot)
        }

        .description {
            font-size: 16px;
            margin-top: 20px;
        }

        div {
            border: 0px solid;
        }

        .process-detail-container {
            width: 700px;
            height: 400px;
            border: 3px solid;
            border-radius: 40px;
            display: flex;
            justify-content: center;   /* Centre content horizontally within the div */
            align-items: center;      /* Centre content vertically within the div */
            color: #024073;
            font-weight: bold;
            font-size: 16px;
            position: relative;       /* Ensures absolute positioning for child elements works */
        }

        .process-detail-container.consult {
            color: #F99F36;
            background-color: #fff;
        }

        .process-detail-container.review {
            color: #00C5BB;
            background-color: #fff;
        }

        .process-detail-container.refine {
            color: #FDC101;
            background-color: #fff;
        }

        .process-detail-container.release {
            color: #E55046;
            background-color: #fff;
        }

        .circle-top-left {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;
            font-size: 16px;
            transform: scale(0.75);
            background-color: #fff;
            position: absolute;
            top: -13px;
            left: -13px;
            margin: 0;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            cursor: default;
        }

        .circle-top-left.update {
            background-color: #024073;
        }

        .circle-top-left.consult {
            background-color: #F99F36;
        }

        .circle-top-left.review {
            background-color: #00C5BB;
        }

        .circle-top-left.refine {
            background-color: #FDC101;
        }

        .circle-top-left.release {
            background-color: #E55046;
        }


        /* Circle for the top right corner */
        .circle-top-right {
            transform: scale(0.4);
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 6px solid #000;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;            
            position: absolute;
            top: -25px;              /* Position from the top */
            right: -25px;            /* Position from the right */
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .circle.top-right svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        
        /* Circle for the top right corner ------------------------- Update Page*/
        .circle-top-right.update{
            border-color: #024073;
        }

        .circle-top-right.update:hover {
            background-color: #fff;
            border-color: #022038;
            fill: #022038;
            stroke: #022038;
        }

        .circle-top-right.update svg {
            fill: #024073;
            stroke: #024073;
        }
        .circle-top-right.update svg:hover {
            fill: #022038;
            stroke: #022038;
        }

        /* Circle for the top right corner -------------------------- Consult Page*/
        .circle-top-right.consult {
            border-color: #F99F36;
        }

        .circle-top-right.consult:hover {
            background-color: #fff;
            border-color: #925b1b;
            fill: #925b1b;
            stroke: #925b1b;
        }

        .circle-top-right.consult svg {
            fill: #F99F36;
            stroke: #F99F36;
        }
        .circle-top-right.consult svg:hover {
            fill: #925b1b;
            stroke: #925b1b;
        }

        /* Circle for the top right corner ------------------------------ Review Page*/
        .circle-top-right.review {
            border-color: #00C5BB;
        }

        .circle-top-right.review:hover {
            background-color: #fff;
            border-color: #006b66;
            fill: #006b66;
            stroke: #006b66;
        }

        .circle-top-right.review svg {
            fill: #00C5BB;
            stroke: #00C5BB;
        }
        .circle-top-right.review svg:hover {
            fill: #006b66;
            stroke: #006b66;
        }


        /* Circle for the top right corner ----------------------------- Refine Page*/
        .circle-top-right.refine {
            border-color: #FDC101;
        }

        .circle-top-right.refine:hover {
            background-color: #fff;
            border-color: #7c5f00;
            fill: #7c5f00;
            stroke: #7c5f00;
        }

        .circle-top-right.refine svg {
            fill: #FDC101;
            stroke: #FDC101;
        }
        .circle-top-right.refine svg:hover {
            fill: #7c5f00;
            stroke: #7c5f00;
        }

        /* Circle for the top right corner -------------------------- Release Page*/
        .circle-top-right.release {
            border-color: #E55046;
        }

        .circle-top-right.release:hover {
            background-color: #fff;
            border-color: #832f29;
            fill: #832f29;
            stroke: #832f29;
        }

        .circle-top-right.release svg {
            fill: #E55046;
            stroke: #E55046;
        }
        .circle-top-right.release svg:hover {
            fill: #832f29;
            stroke: #832f29;
        }     

        .text-content {
            position: absolute;
            top: 0px; /* Position below the circles */
            left: 50%;
            transform: translateX(-50%); /* Centre horizontally */
            text-align: center;
            width: 75%; /* Optional: Adjust width to fit content between circles */
           /* border: 1px solid; */            
        }
        
        .link-button {
            font-family: Tahoma, sans-serif;
            font-size: 11pt;
            font-weight: lighter;
            color: black;
            width: 450px;
            height: 35px;
            border-radius: 30px;
            border: 3px solid;
            background-color: #8de3ec;
            display: flex; /* Enables flexbox for centring */
            justify-content: center; /* Centres content horizontally */
            align-items: center; /* Centres content vertically */
            margin: 0 auto; /* Horizontally centres the button within its parent */
            text-align: center;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, .6); /* Adds drop shadow */

        }

        